@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/Georgia.woff') format('woff');
	font-display: swap;
	font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/ArialMT.woff') format('woff');
	font-display: swap;
	font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Georgia, serif;
    max-width: 1280px;
    margin: 0 auto;
}

input, button {
    font-family: inherit;
}

.container {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}

/*Блок header*/

.header {
    margin: 0 auto;
    position: sticky;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: #fff;
}

.header_wrapper {
    padding: 30px 40px 0 40px;
    max-width: 1280px;
    margin: 0 auto;
}

.logo_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    text-align: center;
}

.header_logo a {
    text-decoration: none;
}

.header_logo_title {
    font-size: 32px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 10px;
    margin-top: 0;
}

.header_logo_subtitle {
    font-family: 'Arial';
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #292929;
}

.header_logo_in_burger {
    display: none;
    position: absolute;
    right: 113px;
}

.header_logo_in_burger_visible {
    display: block;
}

.header_list {
    display: flex;
}

.header_list_item {
    list-style-type: none;
    margin-right: 30px;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    transition-duration: .5s;
}

.header_list_item:hover {
    cursor: pointer;
    border-bottom: 3px solid #F1CDB3;
}

.header_list_item:last-child {
    margin-right: 0;
}

.header_list_link {
    font-family: 'Arial';
    text-decoration: none;
    color: #545454;
}

.header_list_pets {
    color: #292929;
    padding-bottom: 5px;
    border-bottom: 3px solid #F1CDB3;
}

.buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.burger {
    display: none;
    --width: 30px;
    --height: 21px;
    --color: var(--main-bg-color);
    --size-line: 2px;
    position: relative;
    width: var(--width);
    height: var(--height);
    cursor: pointer;
    background-color: transparent;
    border: 0;
    z-index: 100;
    transition: transform .3s, top .3s;
  }
  
.burger_line {
    position: absolute;
    left: 0;
    right: 0;
    height: var(--size-line);
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
}
  
.burger:before, .burger:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: var(--size-line);
    background-color: black;
}
  
.burger:before {
    top: 0;
}
  
.burger:after {
    top: calc(100% - var(--size-line));
}
  
.burger_active {
    transform: rotate(90deg);
}

/*Блок four_pets*/

.our_pets {
    margin: 0 auto;
    background: #F6F6F6;
}

.wrapper_our_pets {
    padding: 80px 40px 100px 40px;
}

.our_pets h2 {
    width: 450px;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

.pets {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    width: 100%;
    justify-content: center;
    column-gap: 40px;
    margin-bottom: 60px;
    align-items: center;
}

.pet {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    transition-duration: .5s;
}

.pet img {
    margin-bottom: 26px;
}

.pet_name {
    font-size: 20px;
    color: #545454;
    text-align: center;
    margin-bottom: 30px;
}

.pet_btn {
    border-radius: 100px;
    font-size: 17px;
    color: #292929;
    width: 190px;
    height: 50px;
    background-color: transparent;
    margin-left: 35px;
    border: 1px solid #F1CDB3;
    transition-duration: .5s;
}

.pets_btn {
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    transition-duration: .5s;
}

.pets_btn:hover {
    cursor: pointer;
    background: #FDDCC4;
}

.pets_btn_link {
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-decoration: none;
}

.pets_btn_link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pet:hover {
    background-color: #FFF;
    cursor: pointer;
}

.pet:hover .pet_btn {
    cursor: pointer;
    background-color: #FDDCC4;
}

.pages_btn {
    width: 52px;
    height: 52px;
    border: 3px solid #FDDCC4;
    background-color: transparent;
    border-radius: 100%;
    transition-duration: .5s;
}

.pages_btn_active:hover {
    cursor: pointer;
    background: #F1CDB3;
    border: none;
}

.pages_number {
    background-color: #F1CDB3;
    border: none;
    font-size: 20px;
}

.pages_btn_disabled {
    border-color: #CDCDCD;
    cursor: unset;
}

.pages_btn_disabled svg {
    transform: rotate(180deg);
}

/*Блок footer*/

.footer {
    min-height: 350px;
    margin: 0 auto;
    background-image: url(../../assets/img/footer-gradient-background_1280.jpg);
    padding: 40px 40px 0 40px;
}

.footer_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer_block {
    width: 289px;
    display: inline-block;
    padding-top: 16px;
}

.footer_link {
    display: flex;
}

.footer_block_title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.footer_block div {
    position: relative;
}

.footer_block p svg {
    vertical-align: middle;
}

.footer_mail, .footer_tel, .footer_address {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-left: 15px;
    text-decoration: none;
}

.footer_link {
    align-items: center;
}

.first_link {
    margin-bottom: 43px;
}

.third_link {
    margin-bottom: 32px;
}

.second_header {
    margin-bottom: 31px;
}

.footer_mail::before, .footer_tel::before, .footer_address::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer_address {
    width: 275px;
}

.footer_wrapper::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 300px;
    height: 310px;
    background-image: url(../../assets/img/footer-puppy.png);
}

@media (max-width: 1100px) {
    .header {
		padding-top: 30px;
    }
    
    .header_wrapper {
        padding: 0 30px;
    }

    .wrapper_our_pets {
        padding-bottom: 75px;
    }

    .pets {
        margin-bottom: 40px;
    }

    .our_pets h2 {
        margin-bottom: 30px;
    }

	.pet_hidden_970 {
        display: none;
    }

    .footer {
        background-image: url(../../assets/img/footer-gradient-background_768.jpg);
        background-size: cover;
        padding: 30px 64px 0 64px;
    }

    .footer_block {
        padding: 0;
    }
    
	.footer_wrapper {
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap: 61px;
        row-gap: 66px;
    }
}

@media (max-width: 760px) {
    .header_nav {
        display: none;
    }

    .burger {
        display: inline-block;
        margin-right: 43px;
    }

    .header_list_nav {
        position: absolute;
        top: 0;
        right: 0;
        overflow-x: hidden;
    }

    .header_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 47px;
        z-index: 20;
        visibility: hidden;
        transform: translateX(100%);
        width: 320px;
        height: 100vh;
        margin: 0;
        padding: 257px 20px 0 20px;
        background-color: #FFF;
        transition-duration: .5s;
        overflow-X: hidden
    }

    .header_list_burger .header_list {
        visibility: visible;
        transform: translateX(0);
        transition: .5s;
    }

    .header_list_item {
        font-size: 32px;
        font-family: Arial, sans-serif;
        margin-right: 0;
    }

    .nav-list-item:first-child {
        width: 75px;
        margin: 0;
    }

    .nav-list-link {
        font-size: 24px;
    }

    .header_logo_hidden {
        visibility: hidden;
    }

    .header_logo_in-burger {
        position: absolute;
        right: 0;
    }

    .burger-menu_overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -10;
    }

    .header_list_burger .burger-menu_overlay {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .logo_nav_in_burger {
        justify-content: flex-end;
        column-gap: 40px;
    }
}

@media (max-width: 660px) {
	.pet_hidden_660 {
        display: none;
    }
}

@media (max-width: 480px) {
    .header_wrapper {
        padding: 0 10px;
    }

    .header_list_nav {
        right: -10px;
    }

    .our_pets {
        padding-bottom: 0;
    }

    .wrapper_our_pets {
        height: 100%;
        padding: 42px 9px;
    }

    .our_pets h2 {
        font-size: 25px;
        width: 300px;
        margin-bottom: 42px;
        line-height: 130%;
    }

	.buttons {
        column-gap: 10px;
    }

    .footer {
        padding: 30px 10px 0 10px;
    }

    .footer_wrapper {
        row-gap: 40px;
    }

    .footer_block {
        text-align: center;
    }

    .footer_block_title {
        font-size: 25px;
    }

    .footer_wrapper::after {
        width: 260px;
        height: 269px;
        background-size: contain;
    }

    .footer_link {
        justify-content: center;
    }

    .second_header {
        margin-bottom: 38px;
    }

    .third_link {
        margin-bottom: 40px;
    }

    .footer_address {
        text-align: left;
    }
}

